<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'vendor/add_note.css/' %}">
    <title>Добавить заметку</title>
</head>
<body>
    <h1>Добавить заметку</h1>

    <div class="add-note-form">
        <form method="post" action="{% url 'user:add_note' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.content.errors }}
            {{ form.content }}
            <button type="submit" class="add-note-btn">Добавить</button>
            <a href="{% url 'user:logout_user' %}" style="background-color: #007BFF; color: #fff; padding: 10px 20px; border-radius: 5px; cursor: pointer; text-decoration: none;">
            Выйти
            </a>
        </form>
    </div>

</body>
</html>
